<div class="flex flex-col gap-4">

  <div class="grid grid-cols-1 gap-4" [formGroup]="getVetFormGroup()">
    <div>
      <input pInputText type="text" id="name" placeholder="Name" formControlName="name" [invalid]="isInvalid('name')"/>
      @if (isInvalid('name')) {
        <p-message severity="error" size="small" variant="simple">Name is required.</p-message>
      }
    </div>
    <p-selectbutton
      [options]="conventionOptions"
      [ngModel]="conventionStatus()"
      (ngModelChange)="conventionStatus.set($event)"
      optionLabel="label"
      optionValue="value"
      [ngModelOptions]="{standalone: true}"
    />
    @if (conventionStatus() === 'conventionalized') {
      <div>
        <input pInputText type="text" id="conventionName" placeholder="Convention name"
               formControlName="conventionName" [invalid]="isInvalid('conventionName')"/>
        @if (isInvalid('conventionName')) {
          <p-message severity="error" size="small" variant="simple">Convention name is required.</p-message>
        }
      </div>
    }
    @if (conventionStatus() === 'not-conventionalized') {
      <div>
        <input pInputText type="text" id="conventionReason" placeholder="Reason not conventionalized"
               formControlName="conventionReason" [invalid]="isInvalid('conventionReason')"/>
        @if (isInvalid('conventionReason')) {
          <p-message severity="error" size="small" variant="simple">Reason is required.</p-message>
        }
      </div>
    }
  </div>
</div>
